{% macro linkcsv(  route, filters  ) %}
    {% spaceless %}
        <a class="btn btn-primary-outline" data-toggle="tooltip" data-placement="top"
           title="Filters apply apart from 'Show X entries' - all records are returned."
           href="{{ path( route, { 'format': 'csv' } ) }}">
            <span class="fa fa-download"></span> CSV File
        </a>
        {# path( route, filters|merge( { 'format': 'csv' } ) ) #}
        <script>
            $(document).ready( function(){
                $('[data-toggle="tooltip"]').tooltip()
            } );
        </script>
    {% endspaceless %}
{% endmacro %}

{# cp_adam: pagination.sortcolumns macro #}
{% macro sortcolumns( options ) %}
    {% spaceless %}
        {% set filters = options.filters %}
        {% set direc = app.request.query.get("direc") %}
        {% if (direc is empty) %}
            {% set direc = options.defdirec %}
        {% elseif (direc == 'asc') %}
            {% set direc = 'desc' %}
        {% elseif (direc == 'desc') %}
            {% set direc = 'asc' %}
        {% endif %}
        {% for field,label in options.fields %}
            {% if (direc == 'asc') %}
                {% set arrow = 'down' %}
            {% elseif (direc == 'desc') %}
                {% set arrow = 'up' %}
            {% endif %}
            {% if (app.request.query.get("sortby") != field ) %}
                {% set arrow = '' %}
            {% endif %}
            <th>
                {% if ('.' in field) %}
                    {{ label }}
                {% else %}
                    <a href="{{ path( options.route, filters|merge( { 'sortby': field, 'direc': direc, 'page': options.currentPage } ) ) }}">{{ label }}</a>
                    <i class="fa fa-fw fa-arrow-{{ arrow }}"></i>
                {% endif %}
            </th>
        {% endfor %}
    {% endspaceless %}
{% endmacro %}

{% macro build( route, currentPage, maxPages, filters ) %}
    {% if maxPages == 0 %}
        {% set maxPages = 1 %}
    {% endif %}
    {% spaceless %}
        <ul class="pagination">
            {# Start Previous Button #}
            <li class="page-item {{ currentPage == 1 ? 'disabled' }}">
                <a href="{{ path( route, filters|merge( { 'page': currentPage - 1 } ) ) }}">Previous</a>
            </li>
            {# End Previous Button #}

            {# Because there can be 100's of pages, lets display only a few at a time. #}
            {# This system make a pagination like so #}
            {# [Previous][1][...][4][5][6][7][*8*][9][10][11][12][...][100][Next] #}
            {# We display only the 4 pages to each side of the current page, and a cheater first and last page. #}
            {% set bottom = ( currentPage - 4 ) > 1 ? ( currentPage - 4 ) : 1 %}
            {% set top = ( currentPage + 4 ) < maxPages ? ( currentPage + 4 ) : maxPages %}
            {% set pages = range( bottom, top ) %}
            {# Pad the array with the first and last pages if they weren't already there. #}
            {% if 1 not in pages %}{% set pages = [1]|merge( pages ) %}{% endif %}
            {% if maxPages not in pages %}{% set pages = pages|merge( [maxPages] ) %}{% endif %}

            {% set lastPage = 0 %}
            {% for page in pages %}
                {# add a page break [...] if the two neighboring pages skip #}
                {% if lastPage != 0 and ( lastPage + 1 ) != page %}
                    <li class="page-item disabled">
                        <a href="#">...</a>
                    </li>
                {% endif %}
                <li class="page-item {{ currentPage == page ? 'disabled' }}">
                    <a href="{{ path( route, filters|merge( { 'page': page } ) ) }}">{{ page }}</a>
                </li>
                {% set lastPage = page %}
            {% endfor %}

            {# Start Next Button #}
            <li class="page-item {{ currentPage == maxPages ? 'disabled' }}">
                <a href="{{ path( route, filters|merge( { 'page': currentPage + 1 } ) ) }}">Next</a>
            </li>
            {# End Next Button #}
        </ul>
    {% endspaceless %}
{% endmacro %}

