{%extends "LankerdGroundworkBundle:MenuItems:groundwork-menu.html.twig"%}
{% import "LankerdGroundworkBundle:macros:entityCrawl.html.twig" as entityCrawl %}

{% block content %}
    <div class="container p-t-md p-b-md">
        <div class="panel">
            <div class="panel-body">
                <div class="table-full">
                    <div class="table-actions">
                        <h1>{{ title }}</h1>
                        {% set Path = newPath %}
                        <div class="pull-left">
                            <a href="{{ path( Path ) }}">
                                <button title="Status" type="button" class="btn btn-success-outline">
                                    <span class="icon icon-squared-plus"></span>Create a new {{ title }}
                                </button>
                            </a>
                        </div>
                        <div style="clear:both; width: 100%;"></div>
                        <div class="table-responsive">
                            <table class="table table-responsive table-condensed table-striped">
                                <thead>
                                    <tr>
                                        {% for header in tableHeaders %}
                                        <th>{{ header }}</th>
                                        {% endfor %}
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for entityProp in entityProperties %}
                                    <tr>
                                        {% for header in tableHeaders %}

                                            {% if entityProp.getValueForKey(header)|instanceOf('DateTime') %}
                                                <td>{{ entityProp.getValueForKey(header)|date }}</td>
                                            {% else %}
                                                <td>{{ entityProp.getValueForKey(header) }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>
                                            <a href="{{ path( editPath, {'id': entityProp.id} ) }}">
                                                <button title="Status" type="button" class="btn btn-warning-outline">
                                                    <span class="icon icon-edit"></span>Edit
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path( removePath, { 'id': entityProp.id } ) }}">
                                                <button title="Status" type="button" class="btn btn-danger-outline">
                                                    <span class="icon icon-squared-minus"></span>Remove
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}