{%extends "LankerdGroundworkBundle:MenuItems:groundwork-menu.html.twig"%}
{% block content %}
    <div class="container p-t-md p-b-md">
        <div class="panel">
            <div class="panel-body">
                <div style="display: grid;" class="dashhead">
                    <div class="dashhead-titles text-center">
                            <h2 class="dashhead-title">Currently Editing {{ title }} <span class="icon icon-chevron-thin-right"></span> <u>{{ entityTitle }}</u></h2>
                    </div>
                </div>
                <div class="row m-t-md">
                    <div class="col-md-6 col-sm-12">
                        {{ form_start( form ) }}
                        {{ form_widget( form ) }}
                        {{ form_end( form ) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}